<h1>
  <%= @channel.name %>
</h1>
<div class="h-full flex flex-col">

    <%= turbo_stream_from :messages %>
    <div id="messages" class="h-96 overflow-scroll" data-controller="scroll" data-scroll-to-bottom-value="true">
      <%= render @messages %>
    </div>

    <%= render "messages/form", message: @message, channel: @channel %>

</div>
