<div
  id="<%= dom_id(message) %>"
  data-controller="scroll-into-view"
  class="flex flex-col py-2 border-t border-t-copy"
>
  <span class="font-bold">
    <%= message.user.nickname %>
  </span>
  <span>
    <%= message.text %>
  </span>
</div>