<div
  id="<%= dom_id(message) %>"
  class="flex flex-col py-2 border-t border-t-copy"
>
  <div>
    <span class="font-bold">
      <%= message.user.nickname %>
    </span>
    <span class="text-xs">
      <%= sent_at message %>
    </span>
  </div>
  <span>
    <%= message.text %>
  </span>
</div>